@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400..800&display=swap');
#root {
  margin: 0 auto;
  color: white;
  background-color: #121223;
  font-family: "Sen", sans-serif;
}
.house{
  background-image: url('assets/Ellipse1005.svg'), url('assets/Vector142.png');
  background-position: left top, right top; /* Adjust positions as needed */
  background-size: 30% 30%, 30% 30%; /* Adjust sizes as needed */
  background-repeat: no-repeat, no-repeat; /* Prevents the images from repeating */
}

@keyframes moveRight {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}
.animate-moveRight {
  animation: moveRight 6s infinite linear; /* Adjust time and other properties as needed */
}
