#root {
  margin: 0 auto;
  text-align: center;
}

@keyframes moveRight {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%); /* Adjust the value to control the distance */
  }
}
.animate-moveRight {
  animation: moveRight 5s infinite linear; /* Adjust time and other properties as needed */
}
